page-login {
  .title {
    font-size: 25px;
    color: #e3f0f1;
  }
  ion-slides {
    display: block;
    width: 100%;
    height: 70%;
  }
  .swiper-pagination-bullet-active {
    background: #e3f0f1;
    opacity: 1;
  }
  .buttonLogin {
    background: #e3f0f1;
    color: #13818d;
    border-color: #e3f0f1;
  }
  b {
    font-size: 20px;
  }
  .text-app {
    font-size: 25px;
    color: #e3f0f1;
  }
  .cardImage{
    margin-left: 5%;
    width: 90%;
  }
}
