page-home {
  .cardTitle {
    color: #13818d;
    text-align: "center";
  }
  .cardDescription{
    text-align: "center";
  }
  .userIcon {
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: -2%;
  }

}
