.toolbar-title {
  color: #e3f0f1;
}

.menuIcon2 {
  background-color: transparent;
  width: 50%;
  margin-left: 25%;
}

.iconButton{
  background-color: transparent;
  height: 35%;
}

b {
  color: #13818d;
}

.icone {
  color: #e3f0f1;
}

.menuIcon {
  color: #e3f0f1;
}

.listaMenu {
  background: #13818d;
  color: #e3f0f1;
}

p {
  font-size: large;
  color: #e3f0f1;
  padding-top: 5%;
}

.button{
    background: #13818d;
    color: #e3f0f1;
    border-color: #13818d
}
hr{
  color: #13818d;
}

.card{
  border-radius: 20px;
  background:"#e3f0f1"
}

.app{
  background-color: #13818d;
}
