.toolbar-title {
  color: #13818d;
}

.menuIcon2 {
  margin-left: 35%;
  width: 30%;
}

b {
  color: #13818d;
}

.icone {
  color: #13818d;
}

.menuIcon {
  color: #13818d;
}

.listaMenu {
  background: #c8dcdd;
  color: #13818d;
}

p {
  font-size: large;
  color: #13818d;
  padding-top: 5%;
}

.button{
    background: white;
    color: #13818d;
    border-color: #13818d
}
hr{
  color: #13818d;
}

.app{
  background-color: #e3f0f1;
}
