page-sobre {
    .cardTitle {
        color: #13818d;
        text-align: "center";
    }
    .cardDescription {
        text-align: "center";
    }
    .iconSocial {
        width: 60%;
        margin-left: 20%;
    }
    .iconButton{
        background-color: transparent;
        height: 35%;
    }
    .menuIcon3{
        width: 50%;
    }
    .buttonVoltar{
        background-color: #e3f0f1;
    }
}
